.reviews {
  margin: 0 auto;
  padding: 12px;
  max-width: 884px;
  width: 100%;
}

.review-enter {
  opacity: 1;
  transform: scale(0.9);
}

.review-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.review-exit {
  opacity: 1;
}

.review-exit-active {
  opacity: 1;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}