.basket {
  padding: 13px 16px 20px;
  background-color: var(--pink);
  position: relative;
}

.hr {
  margin: 14px 0;
}

.title {
  text-align: center;
  margin: 20px 0 16px;
  font-size: 18px;
  font-weight: 600;
}

.button {
  margin-top: 22px;
}

.loader {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

@media all and (max-width: 767px) {
  .basket {
    padding: 20px 24px;
  }
}
