
.header {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: var(--black);
  position: relative;
}

.link {
  grid-column-start: 2;
  justify-self: center;
}

.currencies {
  grid-column-start: 3;
  justify-self: end;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.header h2 {
  color: white;
  margin: 0 10px;
}

.active {
  border-bottom: 1px solid var(--white);
}