.card {
  padding: 8px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.title {
  color: orange;
}
.icon path {
  fill: orange;
}
.price {
  display: block;
  font-weight: 500;
}
.amount__wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
