

.card {
  min-height: 125px;
  margin-bottom: 8px;
  padding: 8px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.title {
  font-weight: 700;
}

.amount {
  display: flex;
  align-items: center;
  gap: 6px;
}

.amount button {
  width: 10%;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;  
  outline: none;
  cursor: pointer;
}

.icon path {
  fill: orange;
}
